// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #f2612a;
  --ion-color-secondary: #04467c;
  --ion-color-tertiary: #252525;
  --app-header-background: #ffffff;
  --app-border-color: #f2612a;
}
